@model IEnumerable<FEKDMETAK.Models.User>

@{
    Layout = "~/Views/Shared/Layoutadmin.cshtml";
    ViewData["Title"] = "Index";
}

<head>
@*    <a href="~/views\shared\layoutadmin.cshtml"></a>
*@
    <link href="~/css/admin.css" rel="stylesheet" />
</head>

<link href="~/css/style.css" rel="stylesheet" />
<h1>Index</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr> 
            @*<th>
                @Html.DisplayNameFor(model => model.specializationId)
            </th>*@
         
            @*<th>
                @Html.DisplayNameFor(model => model.password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConfirmPassword)
            </th>*@
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Town.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Town)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adderess)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FName)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr>
                @if (item.Uid != 2)
                {
                    @if (item.Type == FEKDMETAK.Models.UserType.موظف)
                    {
                        <td>

                            @*    <a asp-action="Edit" asp-route-id="@item.Uid">Edit</a> |*@
                            <a asp-action="Details" asp-route-id="@item.Uid">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Uid">Delete</a>
                        </td>

                        @if (item.Photo != null)
                        {
                            <td>

                                @{
                                    var base64 = Convert.ToBase64String(item.Photo);
                                    var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);

                                }
                                <img src="@imgsrc" style="max-width: 100px; max-height: 100px;border-radius:50%" />
                            </td>
                        }
                     

                        <td>
                                @Html.DisplayFor(modelItem => item.age)
                        </td>
                        <td>
                                @Html.DisplayFor(modelItem => item.Gender)
                        </td>
                        <td>
                                @Html.DisplayFor(modelItem => item.Town.City.Name)
                        </td>
                        <td>
                                @Html.DisplayFor(modelItem => item.Town.Name)
                        </td>
                        <td>
                                @Html.DisplayFor(modelItem => item.Adderess)
                        </td>
                        <td>
                                @Html.DisplayFor(modelItem => item.phone)
                        </td>
                        <td>
                                @Html.DisplayFor(modelItem => item.email)
                        </td>
                        <td>
                                @Html.DisplayFor(modelItem => item.LName)
                        </td>
                        <td>
                                @Html.DisplayFor(modelItem => item.FName)
                        </td>
                       

            @*    <a asp-action="Edit" asp-route-id="@item.Uid">Edit</a> |*@

                      
                    
                   
                    }
                }
        </tr>
}
    </tbody>
</table>
